.warning {
  color: red;
}

.content {
  background: rgb(255, 255, 255);
  color: rgb(45, 45, 45);
  font-family: SansPro;
  border-radius: 10px;
  padding: 3em 2em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  max-width: 1000px;
  margin: auto;
}

h2 {
  font-weight: 400;
}

video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: fill;
}

.info {
  background: rgb(248, 248, 248);
  padding: 1em 2em;
  margin: 1em 0em 1em 0em;
}

.RingleButton {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background: rgb(111, 84, 224);
  color: rgb(255, 255, 255);
  width: 160px;
  height: 40px;
  margin: 20px 30px 20px 0px;
  font-weight: 100;
}

.RingleButtonD {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background: rgb(111, 84, 224);
  color: rgb(255, 255, 255);
  width: 160px;
  height: 40px;
  margin: 20px 30px 20px 0px;
  font-weight: 100;
  opacity: 0.5;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}

.Rbutton {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid rgb(111, 84, 224);
  color: rgb(111, 84, 224);
  background: rgb(255, 255, 255);
  max-width: 250px;
  height: 40px;
  margin: 20px;
  font-weight: 300;
}

.RingleButton:hover {
  opacity: 0.8;
}

.Rbutton:hover {
  background-color: rgb(111, 84, 224);
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.rowC {
  display: flex;
  flex-direction: row;
}

.recBox {
  background: rgb(240, 237, 250);
  border-radius: 10px;
  margin: 1em 1em 1em 1em;
  padding: 3em 2em;
}
